@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

@font-face {
  font-family: 'Bumerang';
  src: local('Bumerang'), url('./fonts/BumerangDemoVersionRegular-nRwZY.otf') format('opentype');
}

@font-face {
  font-family: 'Anthy';
  src: local('Anthy'), url('./fonts/AnthydemoRegular-7O6mV.otf') format('opentype');
}

:root {
  --background: #fffff7;
  /* --foreground: #334155; */
  --foreground: #3b3b3b;
  --highlight: hsla(196, 61%, 58%, 1);
  --emphasis-font: 'Bumerang', sans-serif;
  --header-font: 'Nixie One', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url(./assets/grainy.svg);
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  ;
}

.fancy-header {
  font-family: var(--emphasis-font) !important;
  font-weight: 400 !important;
}


.regular-header {
  font-family: "Nixie One", system-ui;
  font-weight: 100;
  font-style: normal;
}

.gauge-text {
  color: var(--foreground);
  font-weight: 100;
  font-style: normal;
}


.a-body {
  color: var(--foreground);
  /* text-decoration: none; */
  position: relative;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--foreground);
}

.a-body::before {
  content: '';
  background-color: var(--highlight);
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.a-body:hover::before {
  bottom: 0;
  height: 50%;
}

.a-body:hover {
  text-decoration: none;
}

.a-header {
  color: var(--foreground);
  position: relative;
  padding: 5px;
}

.a-header::before {
  content: '';
  background-color: var(--highlight);
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.a-header:hover::before {
  bottom: 0;
  height: 50%;
}